@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

.game {
  @apply min-h-screen flex justify-center items-center bg-black;
}

.square {
  @apply bg-gray-700 p-10 m-1 hover:bg-green-900;
  @apply flex items-center justify-center; /* Centering content */
  width: 85px;
  height: 85px;
}

.board-row {
  @apply flex;
}

.status {
  @apply font-bold text-4xl border-2 border-green-900 py-1 text-green-900 flex justify-center mb-3;
}
